<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ecfb43e3-05e8-4491-b39f-338d153c2238/resourcegroups/ChallengeSandinoFinances/providers/Microsoft.Web/sites/ChallengeSandinoFinances</ResourceId>
    <ResourceGroup>ChallengeSandinoFinances</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://challengesandinofinances.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>challengesandinofinances.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChallengeSandinoFinances</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ChallengeSandinoFinances</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChallengeSandinoFinances.Models.FinancesChallengeDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sandino.database.windows.net;Initial Catalog=FinancesChallengeDB;Persist Security Info=True;User ID=sandino96;Password=Neggo.69" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ChallengeSandinoFinances.Models.FinancesChallengeDBEntities, ChallengeSandinoFinances" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=sandino.database.windows.net;Initial Catalog=FinancesChallengeDB;Persist Security Info=True;User ID=sandino96;Password=Neggo.69" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ChallengeSandinoFinances.Models.ApplicationDbContext, ChallengeSandinoFinances" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sandino.database.windows.net;Initial Catalog=FinancesChallengeDB;Persist Security Info=True;User ID=sandino96;Password=Neggo.69</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ChallengeSandinoFinances.Models.FinancesChallengeDBEntities-Web.config Connection String">
      <ParameterValue>Data Source=sandino.database.windows.net;Initial Catalog=FinancesChallengeDB;Persist Security Info=True;User ID=sandino96;Password=Neggo.69</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ChallengeSandinoFinances.Models.FinancesChallengeDBEntities" />
  </ItemGroup>
</Project>